:root {
    --page-background-color: #CDD8EE;
    --tile-background-color: #F1F5FC;
    --hover-tile-background-color: #D7E5FC;
    --font: 'Varela Round', sans-serif;
    --box-border-color: #B6C9E9;
    --box-background-color: #EAF0FA;
    --score-text-color: #837b84;
    --main-message-font-size: 20px;
    --scoreboard-font-size: 100px;

}

body {
    font-family: var(--font);
    background-color: var(--page-background-color);
}

.message-board {
    text-align: center;
    border: 4px solid var(--box-border-color);
    background-color: var(--box-background-color);
    width: 30%;
    padding: 20px;
    margin: 20px auto;
    font-size: var(--main-message-font-size);
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(15, 36px);
    grid-template-rows: repeat(15, 36px);
    margin: auto;
    width: 540px;
    border: 0.75px solid black;
    background-color: var(--tile-background-color);
}

.field {
    border: 0.5px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 30px;

}

.field:hover {
    background-color: var(--hover-tile-background-color);
}

.scoreboard {
    text-align: center;
    width: 40%;
    padding: 10px;
    margin: 100px;
    border: 1px solid black;
    font-size: 30px;
    color: var(--score-text-color);
}

.card {
    height: 50%;
    border: 1px solid black;
    margin: 20px;
    font-size: 50px;
}

.options {
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 8px;
}

button {
    border: 3px solid var(--box-border-color);
    background-color: var(--box-background-color);
    padding: 10px;
}